.page {
  min-width: 1100px;
  height: 1000px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.header {
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__title {
  align-self: center;
  width: 730px;
  padding-left: 64px;
  font-size: 102px;
  line-height: 96px;
  margin: 0;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 5;
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  z-index: 1;
}

.header__main-pic {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.description {
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  justify-self: center;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  min-width: 784px;
  gap: 30px;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto 20px auto;
}

.section-title_theme_dark {
  color: #f2f2f2;
  z-index: 2;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
  z-index: 2;
}

.table {
  display: flex;
  list-style: none;
  width: 1100px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.feynman {
  background-image: url('/images/feynman.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 100px 0 70px 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url('/images/kaufman-triangle.svg');
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  width: 877px;
  height: 877px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  min-height: 350px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  padding: 18px 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  min-height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.footer__columns-links {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 20px 0 16px;
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
}

.footer__column-link img {
  margin-right: 10px;
}

.footer__column-link a {
  text-decoration: none;
  color: #f2f2f2;
}

